.header-class {
    color: black;
}
.origin-section-class{ 
color: rgb(219, 77, 77);
}
.hero-section-class{ 
color: black;
}
.testimonial-section-class{ 
color: black;
}
.form-class{ 
color: skyblue;
}
.faq-section-class{ 
color: skyblue;
}
.newsletter-section-class{ 
color: skyblue;
}
.input-class{ 
color: skyblue; 
background-color: black;
}
.button-class{ 
color: white;
}

.section-title-class{ 
color: white;
}
.image-class {
border: 10px solid skyblue;
border-color: skyblue ; 
}

.body-class{
    background-color:black;
}

 
.button-class{
    color: black; 
    background-color: skyblue
}

.footer-class {
    background-color: skyblue;
    color: black
}

/* Navigation bar styles */
.nav-class {
    background-color: skyblue; 
    font-weight: bold;

}
.nav-class::after{
    content: "";
    position: absolute;
    bottom: -5px;
    height: 1px;
    width: 100%;
    left: 0;
    background-color: black;
    transition: 0.3s;
    transition-timing-function: easy-in-out;
    transform: scaleX(0)
}
.nav-class:hover::after
{
    transform: scaleX(1)}
.title-class {
    color: white;
   background-color: skyblue;
            text-align: left;
            padding: 1em;
            font-weight: bolder; 
}
.text-class { 
    color:white;
} 
